* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease; 
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;  
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-position: center;
    position: relative;
  overflow: hidden;
}


.hero-header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
  animation: fadeIn 1s ease-in-out;
}

.hero-logo {
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.hero-logo:hover {
  color: #455979;
}

.hero-nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.hero-nav-links li {
  margin-left: 20px;
  margin-top: -30px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  transition: color 0.3s ease-in-out;
}

.hero-nav-links li:hover {
  color: #455979;
  transform: translateY(-3px); 
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 5;
  animation: fadeInUp 1s ease-in-out;
}

.hero-text {
  max-width: 500px;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 50px;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.5;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero-cv-button {
  padding: 18px 35px;
  background-color: #455979;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.hero-cv-button:hover {
  background-color: #455979;
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.hero-cv-button:active {
  transform: translateY(2px);
}

.hero-image-container {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  height: 90vh;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 50px;
}

.hero-image:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .hero-container {
    height: 100vh;
  }

  .hero-header {
    padding: 15px;
  }

  .hero-logo {
    font-size: 2.5rem;
  }

  .hero-nav-links li {
    margin-left: 15px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 3.2rem;
  }

  .hero-text h2 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .hero-image-container {
    margin-top: 30px;
    justify-content: center;
  }

  .hero-image {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 50px 20px;
  }

  .hero-header {
    padding: 10px;
  }

  .hero-logo {
    font-size: 2rem;
  }

  .hero-nav-links {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .hero-nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-image-container {
    margin-top: 30px;
    justify-content: center;
  }

  .hero-image {
    max-width: 80%;
  }
}
