  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
  /* Global Styles */
  * {
    box-sizing: border-box;
  }
.body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }


.blog-page {
  background-color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}
.blog-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.blog-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blog-header {
  position: relative;
  z-index: 2;
  color: #243c4c;
  text-align: center;
  padding: 50px 20px;
}
.blog-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.blog-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #243c4c;
}

.blog-description {
  font-size: 1.1rem;
  color: #243c4c;
}

.scroll-indicator {
  margin-top: 40px;
  cursor: pointer;
  font-weight: 500;
  color: #23323b;
  display: inline-block;
  transition: transform 0.3s ease;
}

.scroll-arrow {
  font-size: 2rem;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }
}

  
  .blog-title {
    font-size: 17rem;
    font-weight: bold;
    background: #4ade80 ;
    background-size: 100%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    animation: gradientFlow 3s infinite alternate; 
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    transition: transform 0.5s ease, text-shadow 0.5s ease; 

  }
  
  .blog-title:hover {
    transform: scale(1.1); 
    text-shadow: 0px 8px 12px rgba(118, 212, 212, 0.6), 
                 0px 12px 20px rgba(0, 255, 255, 0.8);
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .blog-description {
    font-size: 1.5rem;
    color: #eaeaea;
    animation: slideIn 1.5s ease-out;  
    margin-bottom: 15px;
    margin-top: -20px;
  }
  
  .blog-content {
    display: flex;
     justify-content: flex-start;
     align-items: flex-start; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px; 
    width: 100%;
    max-width: 1200px;
    margin-top: 5px;
    animation: slideIn 1.5s ease-out;  
    
  }
  
  .blog-card {
    position: relative;
    border-radius: 15px; 
    overflow: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    background: linear-gradient(135deg, #243c4c 30%, #222 100%); 
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    cursor: pointer;
    aspect-ratio: 1;
    flex: 0 0 calc(33.333% - 20px); 
    max-width: calc(39.333% - 20px); 
    width: 220px;
    border: 1px solid rgba(0, 255, 255, 0.8);
  
  }
  
  .blog-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 05px 05px rgba(0, 255, 255, 0.5); 
  }
  
  .blog-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .blog-card:hover::before {
    opacity: 1; 
  }
  
  
  .blog-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 15px; 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  
  
  .blog-card:hover::before {
    opacity: 1; 
  }
  
  
  .blog-card-content {
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .card-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: -115px;
    margin-bottom: 10px;
    left: -142px;
    position: relative;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7); 
    background: linear-gradient(90deg, #243c4c, #4ecdc4, #d89292, #faf3f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 6s infinite alternate; 
    transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out; 
  }
  
  .card-title:hover {
    transform: scale(1.1); 
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.8);
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  .card-date {
    font-size: 0.85rem;
    color: #ffffff;
    position: relative;
    top: -50px; 
    left: -130px;
  }
  .card-excerpt {
    font-size: 0.90rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    top: 20px;
    text-align: left;
    padding-left: 10px; 
  }
  
  .card-learn-more {
    font-weight: 500;
    color: #eaeaea;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;
    text-align: left;
    padding-left: 10px; 
  }
  .learn-more-link {
    text-decoration: none; 
    color: inherit; 
    margin-right: 5px; 
    transition: color 0.3s ease;
  }
  
  
  .arrow-btn {
    background-color: #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: #243c4c;
    font-size: 0.80rem;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  .arrow-btn:hover {
    background-color: #00ccff;
    transform: scale(1.1);
  }
  
  
  .blog-card:hover .card-title {
    transform: translateY(-3px);
  }
  
  .blog-card:hover .card-excerpt {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  button {
    width: 60px;             
    height: 60px;
    background-color: #e0e0e0; 
    border: 2px solid #e0e0e0;     
    color: #ffffff;                
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50%;       
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;            
    align-items: center;
    justify-content: center;
  }
  
  
  button:hover {
    background-color: #e0e0e0;
    color: #ffffff;
    transform: translateY(-3px);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    z-index: 0;
  }
  button:hover::before {
    width: 0;
    height: 0;
  }
  .back-btn {
    width: 45px;
    height: 45px;
    background-color: #0f172a; 
    color: #ffffff;            
    border: none;
    border-radius: 50%;         
    font-size: 1.2rem;         
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;         
    top: 69%;                   
    left: 20px;                 
    transform: translateY(-50%);
    z-index: 10;
    margin-top: -100px;

  }
  
  .back-btn:hover {
    background-color: #1e293b; 
    transform: translateY(-50%) scale(1.1); 
  }
  .next-btn {
    width: 45px;
    height: 45px;
    background-color: #0f172a; 
    color: #ffffff;            
    border: none;
    border-radius: 50%;         
    font-size: 1.2rem;         
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;         
    top: 69%;                    
    right: 55px;                
    transform: translateY(-50%);
    z-index: 10;
    margin-top: -100px;

  }
  
  .next-btn:hover {
    background-color: #1e293b; 
    transform: translateY(-50%) scale(1.1); 
  }
  
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .about-header {
      flex-direction: column;
      padding: 15px 20px;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .blog-page {
      padding: 70px 10px 30px;
    }
  
    .about-header {
      padding: 10px 15px;
    }
  
    .blog-card-content {
      padding: 15px;
    }
  }
  @media (max-width: 320px) {
    .blog-card {
      width: 100%;
      max-width: 100%;
    }
  }
  .image-slider {
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
  }
  
  .slider-track {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  
   
  .blog-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .blog-description {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .blog-day {
    max-width: 6000px;
    margin: 2rem auto;
    padding: 2rem;
  }
  .blog-page2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; 
  }
  .blog-top2 {
    background-color: #5988a7;
    padding: 40px 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
  }
  .blog-bottom1 {
    background-color: rgb(54, 87, 126);
    padding: 40px 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    }
  .blog-bottom2 {
    background-color: rgb(143, 109, 109);
    flex-grow: 1;
  }
  .blog-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .blog-description {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .day-header1 {
    display: flex;
    flex-wrap: nowrap; 
    margin: 0;
    padding: 0;
    gap: 0; 
  }
  
  .header-image-container {
    flex: 1 1 50%;
    order: 2;
    padding: 0; 
    margin-top: -64px;
  }
  
  .header-content {
    flex: 1 1 50%;
    order: 1; 
    margin-top: -40px;
    margin-left: 30px;
  }
  
  .header-image {
    width: 45vw;
    height: 120vh;
    object-fit: cover;
    padding: 0;
    box-shadow: none;
    transform: translateX(10%); 
    display: block;    
  }
  
  .day-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .day-date {
    font-size: 1rem;
    color: #000000;
    font-style: italic;
  }
  
  .day-content {
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .excerpt-container,
  .description-container {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .day-description p {
    font-size: 1rem;
    line-height: 1.9;
    white-space: pre-line;
    text-indent: 2em;
    text-align: justify;
    color: #5f1313;
  }
  
  .day-gallery {
    margin-top: 2rem;
    text-align: left;
  }
  
  .day-gallery h3 {
    font-size: 1.5rem;
    color: #0073c0;
    margin-bottom: 1rem;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .gallery-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .day-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  .image-title {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
  }

  .featured-attractions h3 {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 600;
    margin-top: -5px;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 50px;
    padding: 0 10px;
  }
  
  .gallery-item {
    background-color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-item:hover {
    transform: translateY(-5px);
  }
  
  .image-title {
    font-size: 16px;
    font-weight: 500;
   margin-bottom: 25px;
    color: #333;
    text-align: center;
  }
  
  .day-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .day-image:hover {
    transform: scale(1.03);
  }
  .clickable-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 40px;
}

.thumbnail {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.thumbnail:hover {
  transform: perspective(900px) scale(1.10) translateY(-15px);
  filter: brightness(1.05) saturate(1.1);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5); 
}


  

  .modal-image {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .modal-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .modal-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev-button {
    left: 100px;
  }
  
  .next-button {
    right: 100px;
  }
  
  .fort-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .fort-text {
    flex: 1;
    min-width: 250px;
  }
  
  .fort-image {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
  }
  
  .fort-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
.modal-close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10000;
}
.blog-bottom3 {
  background-color: rgb(54, 86, 99);
  flex-grow: 1;
}
.blog-bottom4 {
  background-color: rgb(168, 170, 121);
  flex-grow: 1;
}
.blog-bottom5 {
  background-color: rgb(143, 109, 109);
  flex-grow: 1;
}
